/* 

		CSS du site http://baka-otakuland.com
		
*/


/* 					###	Documentation sommaire	###
		td.row1 est utilisé sur les profiles sur les côtés des forums et sur ?? 
*/
/* Agit sur toute la page */
body {
    background-attachment: fixed;
    background-color: #F9F4D5;
    background-image: url("http://image.noelshack.com/fichiers/2013/25/1371664158-header-pour-bol.png");
}
* html {
}
* + html {
}
#sceditor_smilies {
    background-color: #DEE3E7;
}
#sce_smilies_body {
    background-color: #F9F7E4;
    background-image: none;
    min-width: 1px !important;
}
/* Agit sur les paragraphes, celulles et headers de tableau */
p, td, th {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
/* Agit sur les liens et les images */
a img {
    border: medium none;
}
/* Agit sur les liens */
a:link {
    color: #D9A692;
}
/* Agit sur les liens déjà visité*/
a:visited {
    color: #D9A692;
}
/* Agit sur les liens actif (moment du clic) */
a:active {
    color: #D9A692;
}
/* Agit sur les liens au survol */
a:hover {
    color: #ECE78D;
    text-decoration: underline !important;
}
/* Agit sur les lignes horizontales */
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F9F7E4;
    border-image: none;
    border-right: 0 solid #F9F7E4;
    border-style: solid;
    border-width: 1px 0 0;
    height: 0;
}
.bodyline {
    background-color: #FEFCEE;
}
.bodylinewidth {
    width: 750px;
}
/* Agit sur .forumline à mon avis sur la structure principale */
.forumline {
    border: 2px solid #F6EFC7;
}
/* Agit sur les cellules du tableau .row1 et .row3.over:hover (td.row1 semble être utilisé pour les profils */
td.row1, td.row3.over:hover {
    background-color: #F9F7E4;
}
/* Agit sur les cellules du tableau .row1.over:hover et .row2 */
td.row1.over:hover, td.row2 {
    background-color: #F9F7E4;
}
/* Agit sur les cellules du tableau .row3 */
td.row3 {
    background-color: #F9F7E4;
}
/* Agit sur les cellules du tableau .rowpic */
td.rowpic {
    background-color: #F6EFC7;
    background-image: url("http://illiweb.com/fa/empty.gif");
}
/* Agit sur le header du tableau */
th {
    background-color: #F6EFC7;
    background-image: url("http://illiweb.com/fa/empty.gif");
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 700;
    height: 25px;
    padding: 2px 3px;
}
/* Agit sur les cellules de tableaux .catBottom .catHead .catLeft .catRight .catSides (Sans doute lié aux catégories) */
td.cat, td.catBottom, td.catHead, td.catLeft, td.catRight, td.catSides {
    background-color: #F6EFC7;
    background-image: url("http://illiweb.com/fa/empty.gif");
    border: medium solid #FFFFFF;
    height: 28px;
}
/* Agit sur les cellules de tableaux .cat .catBottom .catHead  (A mon avis pour séparer les headers et fin de catégories du reste*/
td.cat, td.catBottom, td.catHead {
    border-width: 0;
    height: 29px;
}
/* Agit sur les entêtes .thBottom et .thTop (Haut et bas du tableau), .thHead .thLeft .thRight .thSides .thTop (Le tout semble lié aux bordures des entêtes de tableaux) + les deux coins droit et gauches
 (Supérieur ou inférieur non précisés) */
th.thBottom, th.thCornerL, th.thCornerR, th.thHead, th.thLeft, th.thRight, th.thSides, th.thTop {
    border: medium solid #FFFFFF;
    font-weight: 700;
}
td.row3Right, td.spaceRow {
    background-color: #F9F7E4;
    border: medium solid #FFFFFF;
}
/* Introuvable dans le code source */
td.pourcentback {
    background-color: #F9F4D5;
}
/* Agit sur les entêtes des tableaux formant les catégories et 
sur les entêtes de tableau marqué .thHead ??? */
td.catHead, th.thHead {
    border-width: 1px 1px 0;
    font-size: 12px;
}
td.catSides, td.spaceRow, th.thSides {
    border-width: 0 1px;
}
td.catRight, td.row3Right, th.thRight {
    border-width: 0 1px 0 0;
}
td.catLeft, th.thLeft {
    border-width: 0 0 0 1px;
}
td.catBottom, th.thBottom {
    border-width: 0 1px 1px;
}
/* thTop bordure supérieure des tableaux */
th.thTop {
    border-width: 1px 0 0;
}
/* Coin gauche des tableaux */
th.thCornerL {
    border-width: 1px 0 0 1px;
}
/* Coin droit des tableaux */
th.thCornerR {
    border-width: 1px 1px 0 0;
}
.maintitle, .maintitle h1 {
    color: #9E9178;
    font-family: TrebuchetMS,Verdana,Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
}
.forumline .row1, .forumline .row2, .forumline .row3, .forumline .row3Right {
    padding: 2px 3px;
}
.forumline td.pagination {
    padding: 0;
}
.maintitle h1 {
    display: inline;
    margin: 0;
    padding: 0;
}
.gen {
    font-size: 12px;
}
.genmed {
    font-size: 11px;
}
.gensmall {
    font-size: 10px;
}
.gen, .genmed, .gensmall {
    color: #9E9178;
}
a.gen, a.genmed, a.gensmall {
    color: #D9A692;
    text-decoration: none;
}
a.gen:hover, a.genmed:hover, a.gensmall:hover {
    color: #ECE78D;
    text-decoration: underline;
}
/* Menu principal */
.mainmenu {
    color: #9E9178;
    font-size: 11px;
}
/* Lien du menu principal */
a.mainmenu {
    color: #D9A692;
    text-decoration: none;
}
/* Etat du lien au survol du menu principal*/
a.mainmenu:hover {
    color: #ECE78D;
    text-decoration: underline;
}
/* Titre des catégories */
.cattitle {
    color: #D9A692;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}
/* Titre h1 des catégories */
h1.cattitle {
    display: inline;
    margin: 0;
    padding: 0;
}
/* Lien dans les titres des catégories */
a.cattitle {
    color: #D9A692;
    text-decoration: none;
}
/* Lien dans les titres des catégories au survol */
a.cattitle:hover {
    text-decoration: underline;
}
.forumlink {
    color: #D9A692;
    font-size: 12px;
    font-weight: 700;
}
a.forumlink {
    color: #D9A692;
    text-decoration: none;
}
a.forumlink:link {
    color: #D9A692;
}
a.forumlink:visited {
    color: #D9A692;
}
a.forumlink:active {
    color: #D9A692;
}
a.forumlink:hover {
    color: #ECE78D;
    text-decoration: underline;
}
.nav {
    color: #9E9178;
    font-size: 11px;
    font-weight: 700;
}
a.nav {
    color: #D9A692;
    text-decoration: none;
}
a.nav:hover {
    text-decoration: underline;
}
/* Agit sur .topictitle ainsi que TOUT les h1 et h2 */
.topictitle, h1, h2 {
    color: #9E9178;
    font-size: 11px;
    font-weight: 700;
}
/* Agit sur les titres des topics */
div.topictitle {
    display: inline;
}
h2.topic-title {
    display: inline;
    margin: 0;
    padding: 0;
}
a.topictitle:link {
    color: #D9A692;
    text-decoration: none;
}
a.topictitle:visited {
    color: #D9A692;
    text-decoration: none;
}
a.topictitle:active {
    color: #D9A692;
    text-decoration: none;
}
a.topictitle:hover {
    color: #ECE78D;
    text-decoration: underline;
}
.name {
    color: #9E9178;
    font-size: 11px;
}
.name a {
    text-decoration: none;
}
.postdetails {
    color: #9E9178;
    font-size: 10px;
}
.postbody {
    font-size: 12px;
    line-height: 18px;
}
a.postlink:link {
    color: #D9A692;
    text-decoration: none;
}
a.postlink:visited {
    color: #D9A692;
    text-decoration: none;
}
a.postlink:active {
    color: #D9A692;
    text-decoration: none;
}
a.postlink:hover {
    color: #ECE78D;
    text-decoration: underline;
}
/* Gestion de la balise [code][/code] */
.code {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FAFAFA;
    border-color: #F9F7E4;
    border-image: none;
    border-style: solid;
    border-width: medium 1px 1px medium;
    color: #000000;
    font-family: Courier,Courier New,sans-serif;
    font-size: 11px;
}
/* Gestion du contenu de la base [code][/code] */
.code div.cont_code {
    max-height: 200px;
    overflow: auto;
}
/* Gestion du [hide][/hide] et du [quote="author][/quote] */
.quote {
    background-color: #FAFAFA;
    border: 1px solid #F9F7E4;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 125%;
}
.coloradmin {
    color: #D6D8D9;
}
.colormod {
    color: #000000;
}
.vote {
    float: right;
    margin-left: 4px;
    width: 10px;
}
.vote .vote-button {
    font-weight: 700;
    margin-left: -1px;
    text-align: center;
}
.vote .vote-button a {
    text-decoration: none !important;
}
.vote .vote-bar {
    border: 1px solid #9E9178;
    font-size: 0;
    height: 50px;
    margin: 0 auto;
    width: 3px;
}
.vote .vote-no-bar {
    letter-spacing: -2px;
    margin-left: -2px;
    white-space: nowrap;
}
.vote .vote-bar-plus {
    background-color: #00FF00;
}
.vote .vote-bar-minus {
    background-color: #FF0000;
}
/* Titre h1 avec .pagetitle (certainement le titre de la page) */
h1.pagetitle {
    color: #FFFFFF;
    display: inline;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/* Titre h1, sans doute un sous-titre ???? */
h1.title2 {
    font-size: 11px;
}
.secondarytitle, .secondarytitle h2 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.secondarytitle h2 {
    display: inline;
}
.nav h1 {
    display: inline;
}
.hierarchy {
    border: medium none;
    display: inline;
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-transform: none;
}
.mod-text {
    font-weight: 700;
}
/* Agit sur les images */
img {
    border: 0 none;
}
#text_editor_iframe, input, select, textarea {
    border-color: #9E9178;
    color: #9E9178;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
#text_editor_iframe, input.post, select, textarea.inputbox, textarea.post {
    background-color: #FFFFFF;
}
.post-options {
    text-align: right;
}
.post-options img {
    cursor: pointer;
    vertical-align: middle;
}
/* Agit sur les inputs (entrée de données) */
input {
    background-color: #F9F7E4;
    text-indent: 2px;
}
input.button {
    background-color: #F9F7E4;
    border-width: 1px;
    color: #9E9178;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}
input.mainoption {
    background-color: #FAFAFA;
    font-weight: 700;
}
input.liteoption {
    background-color: #FAFAFA;
    font-weight: 400;
}
.helpline {
    background-color: #F9F7E4;
    border-style: none;
}
button.button2, input.button2 {
    background-color: #FAFAFA;
    background-image: url("http://illiweb.com/fa/prosilver/bg_button.gif");
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #BCBCBC;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    overflow: visible;
    padding: 1px 0;
    vertical-align: middle;
    width: auto !important;
}
button.button2:hover, input.button2:hover {
    background-position: 0 100%;
    border: 1px solid #ECE78D;
    color: #ECE78D;
}
* html button.button2, * html input.button2 {
    height: 24px;
    margin-bottom: 1px;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
}
* + html button.button2, * + html input.button2 {
    height: 24px;
    padding-left: 3px;
    padding-right: 3px;
}
* + html button.button2 img {
    vertical-align: middle;
}
* html button.button2 img {
    vertical-align: middle;
}
button.bbcode {
    background-image: url("http://illiweb.com/fa/wysiwyg/bg_button.png");
    border: 1px solid #E3ADAD;
}
.select {
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 100;
}
.select p {
    font-size: 0.7em;
    margin: 0;
    padding: 4px 6px;
    text-align: left;
    white-space: nowrap;
}
.select button {
    background-color: #FFFFFF;
    border: medium none;
    font-size: 0.9em;
    margin: 0;
    padding: 4px;
    text-align: left;
}
.select button.button2 {
    border: 1px solid #BCBCBC;
    padding: 0;
}
* html .select button.button2 {
    padding-left: 3px;
    padding-right: 3px;
}
.select button.button2:hover {
    background-position: 0 100%;
    border: 1px solid #ECE78D;
    color: #ECE78D;
}
.select button:hover, .selectHover {
    background-color: #EEEEEE;
    cursor: pointer;
}
textarea#text_editor_textarea {
    width: 100% !important;
}
iframe#text_editor_iframe {
    height: 200px;
    width: 100%;
}
form#quick_reply textarea#text_editor_textarea {
    height: 100%;
    width: 100% !important;
}
form#quick_reply iframe#text_editor_iframe {
    width: 100%;
}
* html form#quick_reply iframe#text_editor_iframe {
    width: 600px;
}
* + html form#quick_reply iframe#text_editor_iframe {
    width: 600px;
}
input, select, textarea {
    border-width: 1px;
}
ul.abuse {
    font-size: 0.9em;
    line-height: 1.5em;
    list-style: none outside none;
}
.rtl-spacer:before {
    content: " ";
    white-space: pre;
}
.rtl-spacer:after {
    content: " ";
    white-space: pre;
}
.warning {
    color: #FF3333;
}
.captcha div.captcha-img {
    float: left;
    margin: 0 1em 0 0;
}
.captcha .inputbox {
    margin-top: 0.5em;
}
.align_gauche {
    text-align: left;
}
.center {
    text-align: center;
}
.align_droite {
    text-align: right;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* + html .clearfix {
    min-height: 1px;
}
* html .clearfix {
    clear: both;
    height: 1%;
    position: relative;
}
.clear {
    clear: both;
}
#content-container #left {
    width: 0;
}
#content-container #right {
    width: 0;
}
.module-title {
    display: block;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
#frame_chatbox {
    border: medium none !important;
}
/* Concerne le body de la chatbox */
body.chatbox {
    background-color: #F9F4D5;
    background-image: none;
    margin: 0;
    min-width: 550px !important;
    padding: 0;
}
#chatbox_members {
    border-right: 1px solid;
    bottom: 30px;
    overflow: auto;
    position: absolute;
    top: 30px;
    width: 180px;
}
#chatbox {
    bottom: 30px;
    left: 181px;
    line-height: 10px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 30px;
}
.chatbox_row_1, .chatbox_row_2, .chatbox_row_3 {
    font-size: 12px;
}
.chatbox-options {
    text-align: right;
}
#chatbox_messenger_form, #chatbox_messenger_form .gen, #chatbox_messenger_form .text-field {
    float: right;
    white-space: nowrap;
}
#chatbox_footer {
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}
#chatbox_footer table.text-styles {
    float: right;
}
#chatbox_footer .text-field {
    float: left;
}
#chatbox_header {
    background-color: #F9F4D5;
    height: 30px;
}
#chatbox p {
    line-height: 1.2em;
}
.chatbox_row_1 {
    background-color: #F9F7E4;
    padding: 4px;
}
.chatbox_row_2 {
    background-color: #F9F7E4;
    padding: 4px;
}
.chatbox_row_3 {
    background-color: #F9F7E4;
    padding: 4px;
}
.memberlist_row_1 {
    background-color: #F9F7E4;
    padding: 2px 2px 2px 10px;
}
#chatbox_members .member-title {
    background-color: #F9F7E4;
    background-image: none;
    color: #D9A692;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0.5em 0.25em;
    text-align: center;
}
#chatbox_members ul {
    list-style: none outside none;
    margin: 0 0 0 10px;
}
#chatbox_members ul li {
    margin: 2px 2px 2px 0;
}
#message, #submit_button {
    border-width: 1px;
}
.fontbutton {
    border: 0 none;
    cursor: pointer;
    padding: 1px;
    text-align: left;
}
.fontbutton_normal {
    background: none repeat scroll 0 0 #E1E1E2;
}
.fontbutton_selected {
    background: none repeat scroll 0 0 #BBC7CE;
    border: 1px solid #22229C;
}
.fontbutton_clicked {
    background: none repeat scroll 0 0 #959595;
    border: 1px solid #22229C;
}
.fontbutton_hover {
    background: none repeat scroll 0 0 #E1E1E2;
    border: 1px solid #22229C;
}
#chatbox .user {
    font-weight: 700;
}
div#chatbox {
    color: #9E9178;
}
#chatbox_contextmenu {
    background-color: #F9F7E4;
    border: 1px solid #AAAAAA;
}
#chatbox_contextmenu p {
    border-bottom: 1px solid #777777;
    font-family: verdana,arial,sans-serif;
    margin: 0;
    padding: 1px 4px;
}
#chatbox_contextmenu p.hover {
}
#chatbox_contextmenu p.close {
    background: url("") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 70%;
    padding: 1px;
}
#chatbox_contextmenu p.close img {
    padding-left: 20px;
    vertical-align: middle;
}
#chatbox_contextmenu a {
    font-size: 70%;
    text-decoration: none;
}
#chatbox_contextmenu a:hover {
}
* html #chatbox-members {
}
* html #chatbox {
}
* html #chatbox-footer {
}
.poll-result td {
    padding: 2px 4px;
    text-align: left;
}
.poll-result td.poll-results, .poll-result td.poll-title {
    text-align: center;
}
.progress-bar td {
    padding: 0 !important;
}
.poll-ballot {
    text-align: left;
}
#profile-advanced-avatar .module, #profile-advanced-details, #profile-advanced-points .module, #profile-advanced-reputation .module {
    margin-right: 3px;
}
#profile-advanced-avatar .module, #profile-advanced-points .module, #profile-advanced-reputation .module, #profile-advanced-right .module {
    margin-bottom: 3px;
}
#profile-advanced-button {
    padding: 1px;
}
#profile-advanced-details {
    overflow: hidden;
}
#profile-advanced-details ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#profile-advanced-details ol li {
    display: block;
    margin-bottom: 4px;
}
#profile-advanced-details .avatar {
    float: left;
}
.avatar {
    background-color: #FFFFFF;
    border: 1px solid #F6EFC7;
    width: 50px;
}
.avatar img {
    width: 50px;
}
.friend-block .avatar {
    cursor: pointer;
    margin: 0 auto;
}
.avatar.mini, .avatar.mini img {
    height: 38px;
    width: 38px;
}
.friend-block {
    float: left;
    margin: 1px;
    overflow: hidden;
    text-align: center;
    width: 70px;
}
.friend_list_online_status {
    font-size: 0.9em;
    line-height: 11px;
}
.friend_list_online_status img {
    vertical-align: middle;
}
.friends-foes-list {
    float: left;
    height: 2em;
    width: 200px;
}
#profile-advanced-details .message-block {
    margin-left: 57px;
}
#profile-advanced-details .message-header {
    background: none repeat scroll 0 0 #F9F7E4;
    border-top: 1px solid #F9F7E4;
    margin-bottom: 4px;
    padding: 4px;
}
#profile-advanced-details .message-date {
    float: right;
}
#profile-advanced-details .message-body {
    margin-bottom: 4px;
}
#profile-advanced-details .message-footer {
    text-align: right;
}
#profile-advanced-details .message-footer li {
    display: inline;
    margin: 0 0.25em;
}
#profile-advanced-details .message-footer li:after {
    content: " .";
}
#profile-advanced-details .message-footer li a {
    margin-right: 0.25em;
    text-decoration: underline;
}
#profile-advanced-details .message-footer li.last:after {
    content: normal;
}
#profile-advanced-add {
    margin-right: 4px;
    padding: 8px 0;
    text-align: right;
}
#profile-advanced-details .stats-field {
    margin: 4px 0 10px 4px;
    padding: 0 10px 6px;
}
#profile-advanced-details .stats-field legend {
    font-weight: 700;
}
#profile-advanced-details .stats-field ul {
    list-style-type: none;
    padding: 0;
    text-indent: 10px;
}
#profile-advanced-details .stats-field li {
    margin: 4px 0;
}
#login_popup {
    display: none;
    position: absolute;
    z-index: 10000;
}
#login_popup_buttons {
    bottom: 6px;
    height: 19px;
    position: absolute;
    right: 6px;
}
#login_popup_buttons input {
    margin-left: 6px;
}
ul.profile_field_list {
    margin: 0;
    padding: 0;
}
html ul.profile_field_list li {
    list-style-type: none;
}
ul.profile_field_list > li {
    list-style-type: none;
}
.inputURL {
    font-family: "Courier New","Times New roman";
    font-size: 10px;
    letter-spacing: -1px;
}
.middleline {
    line-height: 2em;
}
.invisible {
    display: none;
    visibility: hidden;
}
.visible {
    display: block;
    visibility: visible;
}
.ajax-profil_hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ajax-profil_parent {
    position: relative;
}
.ajax-profil_edit {
    cursor: pointer;
    left: -18px;
    position: absolute;
    top: 0;
}
.ajax-profil_edit img {
    margin-left: 4px;
}
.ajax-profil_valid {
    cursor: pointer;
    margin-left: 4px;
    vertical-align: middle;
}
#profile-advanced-details dl {
    margin: 10px 0 0;
    padding: 8px 10px 8px 0;
    width: 98%;
}
#profile-advanced-details dl dt {
    display: block;
    float: left;
    width: 10em;
}
#profile-advanced-details dl dd {
    margin-left: 10em;
    padding-left: 12px;
}
#profile-advanced-details div.separator {
    border-bottom: 1px solid #DCDCDC;
    clear: both;
    font-size: 1px;
    line-height: 1px;
    padding-top: 10px;
}
#profile-advanced-details .ajax-profil_edit {
    left: -4px;
}
.jqmWindow {
    background-color: #F9F4D5;
    border: 1px solid #F6EFC7;
    display: none;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
    position: fixed;
    top: 50%;
    width: 450px;
}
.jqmOverlay {
    background-color: #000000;
}
.jqDrag {
    cursor: move;
}
.blog_cal-border {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 1px solid #F6EFC7;
    display: inline;
    float: left;
    font-size: 0.9em;
    margin-right: 10px;
    padding: 1px;
}
.blog_cal-content {
    background: none repeat scroll 0 0 #F6EFC7;
    color: #FEFCEE;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Sans-Serif;
    line-height: 1.4em;
    padding: 1px;
    text-align: center;
    width: 2.9em;
}
.blog_cal-content span {
    display: block;
}
.blog_cal-day {
    font-size: 1.6em;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
}
.blog_cal-month {
    font-size: 2em;
    font-weight: 700;
    line-height: 0.7em;
}
.blog_cal-year {
    font-size: 0.8em;
    line-height: 1.2em;
}
.blog_title {
    font-size: 16px;
    padding-top: 5px;
}
.blog_title img {
    vertical-align: middle;
}
.blog_title .topictitle {
    font-size: 16px;
}
.blog_message {
    font-size: 12px;
    margin-top: 12px;
}
.blog_comments {
    margin-bottom: 2px;
    text-align: right;
}
.blog_comments img {
    vertical-align: middle;
}
#blog_comments {
    margin: 0 auto;
    width: 90%;
}
#blog_comments .postbody {
    width: 96%;
}
.blog_comment-avatar {
    float: left;
}
.blog_comment-avatar img {
    background-color: #FFFFFF;
    border: 1px solid #F6EFC7;
    margin: 5px 5px 0 0;
    vertical-align: middle;
    width: 38px;
}
#blog_comments table {
    margin-bottom: 2px;
}
#blog_comments .h3 {
    margin-left: 45px;
    margin-top: 0;
    min-height: 22px;
    overflow: hidden;
    padding: 0;
}
.blog_comment-title {
    float: left;
    margin-top: 7px;
    min-height: 12px;
}
.blog_comment-title a {
    text-decoration: none;
}
#blog_comments .profile-icons {
    float: right;
    margin-bottom: 5px;
}
#bookmarks {
    float: right;
}
#bookmarks a img {
    background: url("http://illiweb.com/fa/social_bookmarking/social_bookmarking.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
#bookmarks a img.twitter {
    background: url("http://illiweb.com/fa/social_bookmarking/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 16px;
    margin: 2px;
    width: 16px;
}
#bookmarks img.delicious {
    background-position: -10px -10px;
}
#bookmarks img.digg {
    background-position: -10px -50px;
}
#bookmarks img.excite {
    background-position: -9px -90px;
}
#bookmarks img.facebook {
    background-position: -9px -128px;
}
#bookmarks img.furl {
    background-position: -10px -166px;
}
#bookmarks img.google {
    background-position: -10px -206px;
}
#bookmarks img.live {
    background-position: -9px -246px;
}
#bookmarks img.netscape {
    background-position: -9px -284px;
}
#bookmarks img.newsvine {
    background-position: -9px -322px;
}
#bookmarks img.reddit {
    background-position: -10px -360px;
}
#bookmarks img.slashdot {
    background-position: -10px -400px;
}
#bookmarks img.smarking {
    background-position: -9px -440px;
}
#bookmarks img.stumbleupon {
    background-position: -10px -478px;
}
#bookmarks img.technorati {
    background-position: -10px -518px;
}
#bookmarks img.yahoo {
    background-position: -10px -558px;
}
.mceContentBody {
    background: none repeat scroll 0 0 #F9F7E4;
    color: #9E9178;
}
.align_right {
    text-align: right;
}
.resize_process .resizebox {
    display: none;
}
.resize_process img.resize_img {
    display: none;
}
.resizebox a.enlarge, .resizebox.enlarged a.resize, .resizebox.showfull a.fullsize {
    display: inline;
}
.resizebox a.fullsize, .resizebox a.resize, .resizebox.enlarged a.enlarge {
    display: none;
}
.resizebox {
    background-color: #FAFAFA;
    cursor: default;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1em;
    margin: 0;
    max-width: 100%;
    text-align: left;
}
.resizebox div {
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
.resizebox .resize_border {
    border: 1px solid #F9F7E4;
    display: block;
}
.resizebox .resize_content {
    display: inline;
    padding: 5px 10px;
}
.resizebox .resize_filler {
    border: medium none;
    display: inline;
    padding: 0;
    width: 40px;
}
.attachbox {
    background-color: #FAFAFA;
    border: 1px dashed #F9F7E4;
    clear: left;
    color: #9E9178;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 6px;
    width: auto;
}
.attachbox dt {
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.attachbox dd {
    border-top: 1px solid #F9F7E4;
    clear: left;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 0;
}
dl.file {
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
}
dl.file dt {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: none;
}
dl.file dt img {
    vertical-align: middle;
}
.info {
    font-size: 10px;
    font-style: italic;
}
.spoiler_closed {
    background-color: #FAFAFA;
    border: 1px solid #F9F7E4;
    color: #000000;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 125%;
}
.spoiler_closed.hidden {
    display: none;
}
.spoiler_content {
    background-color: #FAFAFA;
    border: 1px solid #F9F7E4;
    color: #000000;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 125%;
}
.spoiler_content.hidden {
    display: none;
}
.user_login_form {
    margin-bottom: 5px;
}
.fb_or {
    background-color: #F9F7E4;
    border: 2px solid #F6EFC7;
    color: #000000;
    display: block;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    padding: 5px;
    width: 26px;
}
#cont_pwd {
    float: left;
    height: 21px;
    padding: 0 0 0 20px;
    width: 150px;
}
.pwd_img {
    color: #000000;
    display: none;
    font-size: 11px;
    font-weight: 700;
    height: 14px;
    line-height: 14px;
    padding: 4px 0 3px;
    text-align: center;
    width: 150px;
}
#pwd_good {
    background: url("http://illiweb.com/fa/p_strength/pwd_good.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#pwd_middle {
    background: url("http://illiweb.com/fa/p_strength/pwd_middle.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#pwd_bad {
    background: url("http://illiweb.com/fa/p_strength/pwd_bad.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#fb_explain td {
    padding: 5px 0;
    vertical-align: top;
}
.row1.fb {
    padding: 5px 2px 4px;
}
.row2.fb {
    padding: 2px 3px 2px 8px;
}
#cont_fb_invit iframe {
    width: 760px !important;
}
.mod_bookmarks a img {
    background: url("http://illiweb.com/fa/social_bookmarking/social_bookmarking_fa.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
.mod_bookmarks img.digg {
    background-position: -10px -47px;
}
.mod_bookmarks img.delicious {
    background-position: -10px -8px;
}
.mod_bookmarks img.reddit {
    background-position: -10px -359px;
}
.mod_bookmarks img.slashdot {
    background-position: -10px -398px;
}
.mod_bookmarks img.stumbleupon {
    background-position: -10px -476px;
}
.mod_bookmarks img.furl {
    background-position: -10px -163px;
}
.mod_bookmarks img.yahoo {
    background-position: -10px -554px;
}
.mod_bookmarks img.google {
    background-position: -10px -204px;
}
.mod_bookmarks img.blinklist {
    background-position: -10px -665px;
}
.mod_bookmarks img.blogmarks {
    background-position: -10px -630px;
}
.mod_bookmarks img.technorati {
    background-position: -10px -516px;
}
.mod_rss_feeds a img {
    background: url("http://illiweb.com/fa/rss_mod/sprite_rss_feeds.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 17px;
    padding-bottom: 2px;
    vertical-align: middle;
    width: 91px;
}
.mod_rss_feeds img.yahoo {
    background-position: 0 0;
}
.mod_rss_feeds img.google-reader {
    background-position: -100px 0;
}
.mod_rss_feeds img.msn {
    background-position: -199px 0;
}
.mod_rss_feeds img.aol {
    background-position: -299px 0;
}
.mod_rss_feeds img.newsgator {
    background-position: -399px 0;
}
.mod_rss_feeds img.rojo {
    background-position: -498px 0;
}
.mod_rss_feeds img.bloglines {
    background-position: -598px 0;
}
.sprite-arrow_prosilver_down {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 6px;
    width: 6px;
}
.sprite-arrow_prosilver_left {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -56px 0 rgba(0, 0, 0, 0);
    height: 6px;
    width: 4px;
}
.sprite-arrow_prosilver_right {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -110px 0 rgba(0, 0, 0, 0);
    height: 6px;
    width: 4px;
}
.sprite-arrow_prosilver_up {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -164px 0 rgba(0, 0, 0, 0);
    height: 6px;
    width: 6px;
}
.sprite-arrow_subsilver_down {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -220px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 9px;
}
.sprite-arrow_subsilver_left {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -279px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 9px;
}
.sprite-arrow_subsilver_right {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -338px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 9px;
}
.sprite-arrow_subsilver_up {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -397px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 9px;
}
.sprite-icon_minipost {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -456px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 12px;
}
.sprite-icon_minipost_new {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -518px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 12px;
}
.sprite-icon_minipost_participate {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -580px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 12px;
}
.sprite-icon_miniposted {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -642px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 12px;
}
.sprite-icon_pages {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -704px 0 rgba(0, 0, 0, 0);
    height: 12px;
    width: 11px;
}
.sprite-icon_post_target {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -765px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 11px;
}
.sprite-icon_post_target_unread {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -826px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 11px;
}
.sprite-icon_reply {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -887px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 18px;
}
.sprite-icon_reply_new {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -955px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 18px;
}
.sprite-icon_tiny_topic {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1023px 0 rgba(0, 0, 0, 0);
    height: 11px;
    width: 10px;
}
.sprite-icon_topic_latest {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1083px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 11px;
}
.sprite-icon_topic_newest {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1144px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 11px;
}
.sprite-subforum_read {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1205px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 11px;
}
.sprite-subforum_unread {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1266px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 11px;
}
.sprite-tabs_less {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1327px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 9px;
}
.sprite-tabs_more {
    background: url("http://illiweb.com/fa/sprite_icons.png") no-repeat scroll -1386px 0 rgba(0, 0, 0, 0);
    height: 9px;
    width: 9px;
}
.sprite-icon_calendar {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 14px;
}
.sprite-icon_faq {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -63px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_gallery {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -127px rgba(0, 0, 0, 0);
    height: 14px;
    width: 14px;
}
.sprite-icon_groups {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -191px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_home {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -255px rgba(0, 0, 0, 0);
    height: 12px;
    width: 13px;
}
.sprite-icon_logout {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -317px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_members {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -381px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_message {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -445px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_portal {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -509px rgba(0, 0, 0, 0);
    height: 14px;
    width: 14px;
}
.sprite-icon_register {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -573px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_search {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -637px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_textbox_search {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -701px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_ucp {
    background: url("http://illiweb.com/fa/sprite_prosilver_navbar.png") no-repeat scroll 0 -765px rgba(0, 0, 0, 0);
    height: 14px;
    width: 16px;
}
.sprite-icon_mini_calendar {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_faq {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -62px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_gallery {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -124px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_groups {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -186px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_index {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -248px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.sprite-icon_mini_login {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -311px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_members {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -373px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_message {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -435px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_portal {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -497px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.sprite-icon_mini_profile {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -560px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_register {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -622px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
.sprite-icon_mini_search {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -684px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
#search_menu a img {
    background: url("http://illiweb.com/fa/sprite_subsilver_menu.png") no-repeat scroll -684px 0 rgba(0, 0, 0, 0);
    height: 13px;
    width: 12px;
}
#at16lb {
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.001;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
#at16pc, #at16pi, #at16pib, #at20mc, #at_complete, #at_email, #at_error, #at_share, #at_success {
    position: static !important;
}
#at20mc {
    left: 0;
    position: absolute;
    top: 0;
}
#at20mc a {
    color: #3366BB;
}
.at15a {
    border: 0 none;
    height: 0;
    margin: 0;
    padding: 0;
    width: 230px;
}
.atnt {
    height: 24px !important;
    padding: 6px 0 0 !important;
    text-align: center !important;
}
.atnt a {
    color: #3366BB;
    text-decoration: none;
}
.atnt a:hover {
    text-decoration: underline;
}
#at15s, #at16nms, #at16p, #at16p form input, #at16p form textarea, #at16p label, #at_msg, #at_share .at_item {
    font-family: arial,helvetica,tahoma,verdana,sans-serif !important;
    font-size: 12px !important;
    line-height: 1em;
    outline-style: none;
    outline-width: 0;
}
* html #at15s.mmborder {
    position: absolute !important;
}
#at15s.mmborder {
    border: 10px solid #7F7F7F !important;
    position: fixed !important;
    width: 240px !important;
}
#at15s {
    background-color: #FFFFFF !important;
    background-image: none !important;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    color: #4C4C4C !important;
    padding: 0 !important;
    right: 8px;
    top: 1px;
    width: 160px !important;
}
#at15s_head {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
    cursor: default;
    padding: 4px;
    position: relative;
}
#at15s_brand, #at16_brand {
    position: absolute;
}
#at15s_brand {
    right: 4px;
    top: 4px;
}
#at16_brand {
    cursor: default;
    right: 30px;
    top: 5px;
}
#at_hover {
    padding: 4px;
}
#at_hover .at_item, #at_share .at_item {
    background: none repeat scroll 0 0 #FFFFFF !important;
    color: #4C4C4C !important;
    float: left !important;
}
#at16nms {
    padding: 4px 5px;
}
#at_hover .at_item {
    margin: 1px;
    padding: 2px 3px !important;
    width: 102px !important;
}
#at_hover .at_item.atiemode2 {
    width: 104px !important;
}
#at_hover .at_item.athov, #at_hover .at_item:hover {
    margin: 0 !important;
}
#at_hover .at_item.athov, #at_hover .at_item:hover, #at_share .at_item.athov, #at_share .at_item:hover {
    background: none repeat scroll 0 0 #F2F2F2 !important;
    border: 1px solid #E5E5E5;
    color: #000000 !important;
}
* html #at_hover .at_item {
    border: 1px solid #FFFFFF;
}
* html #at_hover .at_item.athov {
    border: 1px solid #E5E5E5 !important;
    margin: 1px !important;
}
#at_email15 {
    padding-top: 5px;
}
.at15e_row {
    height: 28px;
}
.at15e_row label, .at15e_row span {
    display: block !important;
    float: left !important;
    padding-left: 10px !important;
    width: 60px !important;
}
.at15e_row input, .at15e_row textarea {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    color: #333333 !important;
    display: block !important;
    float: left !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    width: 150px !important;
}
#at_email input, #at_email label, #at_email textarea {
    font-size: 11px !important;
}
.at15t {
    background: url("http://illiweb.com/fa/addthis/widget04.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block !important;
    height: 16px !important;
    line-height: 16px !important;
    padding-left: 20px !important;
}
.addthis_button {
    cursor: pointer;
}
.addthis_toolbox.addthis_default_style span {
    line-height: 16px;
}
.addthis_default_style .addthis_separator {
    display: inline;
    margin: 0 5px;
}
div.atclear {
    clear: both;
}
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bs, .addthis_default_style .at300m {
    float: left;
}
.at300b img {
    border: 0 none;
}
.addthis_default_style .at300b, .addthis_default_style .at300m {
    padding: 0 2px;
}
.at300b, .at300bs, .at300m {
    cursor: pointer;
}
.at300bs {
    background: url("http://illiweb.com/fa/addthis/widget04.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    line-height: 16px !important;
    overflow: hidden;
    width: 16px;
}
.at300bs.at15t_compact, .at300bs.at15t_expanded {
    background: url("http://illiweb.com/fa/addthis/logo1414.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    margin-right: 4px;
}
.at15t_more {
    background: url("http://illiweb.com/fa/addthis/logo1414.gif") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}
.at15t_000 {
    background-position: 0 0;
}
.at15t_aim {
    background-position: 0 -16px !important;
}
.at15t_amazonwishlist {
    background-position: 0 -32px !important;
}
.at15t_ask {
    background-position: 0 -48px !important;
}
.at15t_backflip {
    background-position: 0 -64px !important;
}
.at15t_ballhype {
    background-position: 0 -80px !important;
}
.at15t_bebo {
    background-position: 0 -96px !important;
}
.at15t_blogger {
    background-position: 0 -112px !important;
}
.at15t_blogmarks {
    background-position: 0 -128px !important;
}
.at15t_buzz {
    background-position: 0 -144px !important;
}
.at15t_delicious {
    background-position: 0 -160px !important;
}
.at15t_digg {
    background-position: 0 -176px !important;
}
.at15t_diigo {
    background-position: 0 -192px !important;
}
.at15t_email {
    background-position: 0 -208px !important;
}
.at15t_facebook {
    background-position: 0 -224px !important;
}
.at15t_fark {
    background-position: 0 -240px !important;
}
.at15t_faves {
    background-position: 0 -256px !important;
}
.at15t_favorites {
    background-position: 0 -272px !important;
}
.at15t_friendfeed {
    background-position: 0 -288px !important;
}
.at15t_friendster {
    background-position: 0 -304px !important;
}
.at15t_google {
    background-position: 0 -320px !important;
}
.at15t_hatena {
    background-position: 0 -336px !important;
}
.at15t_hi5 {
    background-position: 0 -352px !important;
}
.at15t_kaboodle {
    background-position: 0 -368px !important;
}
.at15t_kirtsy {
    background-position: 0 -384px !important;
}
.at15t_linkagogo {
    background-position: 0 -400px !important;
}
.at15t_linkedin {
    background-position: 0 -416px !important;
}
.at15t_live {
    background-position: 0 -432px !important;
}
.at15t_meneame {
    background-position: 0 -448px !important;
}
.at15t_misterwong {
    background-position: 0 -464px !important;
}
.at15t_mixx {
    background-position: 0 -480px !important;
}
.at15t_multiply {
    background-position: 0 -496px !important;
}
.at15t_myaol {
    background-position: 0 -512px !important;
}
.at15t_myspace {
    background-position: 0 -528px !important;
}
.at15t_netvibes {
    background-position: 0 -544px !important;
}
.at15t_netvouz {
    background-position: 0 -560px !important;
}
.at15t_newsvine {
    background-position: 0 -576px !important;
}
.at15t_nujij {
    background-position: 0 -592px !important;
}
.at15t_orkut {
    background-position: 0 -608px !important;
}
.at15t_plaxo {
    background-position: 0 -624px !important;
}
.at15t_print {
    background-position: 0 -640px !important;
}
.at15t_propeller {
    background-position: 0 -656px !important;
}
.at15t_reddit {
    background-position: 0 -672px !important;
}
.at15t_segnalo {
    background-position: 0 -688px !important;
}
.at15t_simpy {
    background-position: 0 -704px !important;
}
.at15t_slashdot {
    background-position: 0 -720px !important;
}
.at15t_spurl {
    background-position: 0 -736px !important;
}
.at15t_stumbleupon {
    background-position: 0 -752px !important;
}
.at15t_stylehive {
    background-position: 0 -768px !important;
}
.at15t_tailrank {
    background-position: 0 -784px !important;
}
.at15t_technorati {
    background-position: 0 -800px !important;
}
.at15t_thisnext {
    background-position: 0 -816px !important;
}
.at15t_tipd {
    background-position: 0 -832px !important;
}
.at15t_tumblr {
    background-position: 0 -848px !important;
}
.at15t_twitter {
    background-position: 0 -864px !important;
}
.at15t_typepad {
    background-position: 0 -880px !important;
}
.at15t_wordpress {
    background-position: 0 -896px !important;
}
.at15t_yahoobkm {
    background-position: 0 -912px !important;
}
.at15t_yardbarker {
    background-position: 0 -928px !important;
}
.at15t_netscape {
    background-position: 0 -656px !important;
}
#at16clb {
    font-family: "verdana bold",verdana,arial,sans-serif;
    font-size: 16pt;
}
#at_share .at_item {
    border: 1px solid #FFFFFF;
    margin-right: 2px;
    padding: 4px;
    width: 123px !important;
}
#at16pm {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #CCCCCC;
    height: 360px;
    position: static;
    text-align: left;
    width: 298px;
}
#at16pcc {
    color: #4C4C4C;
    font-size: 10px !important;
    left: 0;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000001;
}
* html #at16pcc {
    position: absolute;
}
#at16abifc {
    border: 0 none;
    height: 335px;
    left: 10px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 492px;
}
#at16abifc iframe {
    border: 0 none;
    height: 360px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 516px;
}
* html div#at16abifc.atiemode2 {
    height: 354px;
    width: 482px;
}
* html #at16abifc iframe {
    height: 348px;
    left: -10px;
    overflow: hidden;
    top: -10px;
}
#at16p {
    background: url("http://illiweb.com/fa/addthis/atbkg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#at16p, #atie6ifh {
    color: #5E5E5E;
    font-family: arial,helvetica,tahoma,verdana,sans-serif;
    font-size: 12px;
    left: 50%;
    margin: -185px auto 0 -155px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 300px;
    z-index: 10000001;
}
#atie6ifh {
    height: 381px;
    margin-left: -165px;
    padding: 0;
    width: 322px;
}
#at_share {
    margin: 0;
    padding: 0;
}
#at16ps {
    height: 284px;
    overflow-y: scroll;
    padding: 5px;
}
a#at16pit {
    background: url("http://illiweb.com/fa/addthis/tab00.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #3366BB;
    display: block;
    height: 20px;
    line-height: 19px;
    margin-right: -17px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 37px;
    width: 16px;
}
#at16pi {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E5E5E5;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    text-align: left;
}
#at16pi a {
    color: #3366BB;
    text-decoration: none;
}
#at16pi a:hover {
    text-decoration: underline;
}
#at16pt {
    background: none repeat scroll 0 0 #F2F2F2;
    height: 13px;
    padding: 5px 10px;
    position: relative;
}
#at16pt a, #at16pt h4 {
    font-weight: 700;
}
#at16pt h4 {
    color: #4C4C4C;
    cursor: default;
    display: inline;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#at16pt a {
    color: #4C4C4C;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 5px;
}
#at16pc form {
    margin: 0;
}
#at16pc form label {
    display: block;
    float: none;
    font-size: 11px;
    font-weight: 700;
    padding-bottom: 4px;
    text-align: left;
}
#at16pc form label span {
    color: #4C4C4C;
    display: inline;
    font-weight: 400;
}
#at_email form .abif {
    width: 272px !important;
}
#at_email textarea {
    height: 55px !important;
    word-wrap: break-word;
}
* html #at_email textarea {
    height: 42px !important;
}
:first-child + html #at_email textarea {
    height: 42px !important;
}
#at_email form input, #at_email form textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-family: arial,helvetica,tahoma,verdana,sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 8px;
    padding: 3px;
    width: 272px;
}
#at_email form .atfxmode2 {
    width: 279px;
}
#at16pc form .at_ent {
    color: #333333 !important;
}
#at16pc form textarea {
    height: 48px;
}
#at16pc form input:focus, #at16pc form textarea:focus {
    background: none repeat scroll 0 0 #FFFFF0;
    color: #333333;
}
#at16p .atbtn {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B5B5B5;
    color: #333333;
    cursor: pointer;
    font-size: 11px !important;
    font-weight: 700;
    margin: 0 2px !important;
    padding: 2px 4px;
    width: 60px;
}
#at16p .atbtn:hover {
    border-color: #444444;
    color: #0066CC;
}
#at_email #ateml {
    color: #999999;
    font-size: 10px;
    text-align: right;
}
#at16pc {
    color: #4C4C4C;
    font-size: 11px;
    height: 323px;
    text-align: left;
}
#at_email {
    padding: 5px 10px;
}
#at16pc .tmsg {
    padding: 4px 2px;
    text-align: right;
}
#at16psf {
    background: url("http://illiweb.com/fa/addthis/atf02.png") no-repeat scroll center center #F2F2F2;
    border-bottom: 1px solid #CCCCCC;
    height: 20px;
    padding: 4px 10px;
    position: relative;
    text-align: center;
}
* html #at16psf input {
    padding: 0;
}
#at16psf input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #666666;
    font-family: arial,helvetica,tahoma,verdana,sans-serif;
    font-size: 12px;
    margin: 2px 0 0;
    outline-style: none;
    outline-width: 0;
    padding: 2px 0 0;
    width: 220px;
}
#at16pcc .at_error {
    background: none repeat scroll 0 0 #F26D7D;
    border-bottom: 1px solid #DF5666;
    color: #FFFFFF;
    padding: 5px 10px;
}
#at16pcc #at_success {
    background: none repeat scroll 0 0 #D0FBDA;
    border-bottom: 1px solid #A8E7B7;
    color: #4C4C4C;
    padding: 5px 10px;
}
#at16pf {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 1px solid #E5E5E5;
    position: relative;
}
#at16pf a {
    color: #4C4C4C;
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 10px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-decoration: none;
}
#at16pf a:hover {
    text-decoration: underline;
}
#at16pf a#at-whatsthis {
    left: 10px;
    width: 60px;
}
#at16pf a#at-privacy {
    left: 90px;
    width: 39px;
}
#at_complete {
    color: #47731D;
    font-size: 13pt;
    height: 208px !important;
    padding-top: 130px;
    text-align: center;
    width: 472px;
}
#at_s_msg {
    margin-bottom: 10px;
}
#at16pf a#at-logo {
    background: url("http://illiweb.com/fa/addthis/logo88.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 10px;
    right: 10px;
}
.at_baa {
    display: block;
    outline: medium none;
    overflow: hidden;
}
#at15s #at16pf a {
    top: 1px;
}
#at16pc form #at_send {
    width: 80px !important;
}
#at_feed {
    display: none;
    height: 300px;
    padding: 10px;
}
#at_feed span {
    font-size: 12px;
    margin-bottom: 10px;
}
#at_feed div {
    float: left !important;
    height: 26px !important;
    line-height: 26px !important;
    margin-right: 68px;
    width: 102px !important;
}
#at_feed div.at_litem {
    margin-right: 0;
}
#at_feed a {
    height: 17px;
    line-height: 17px;
    margin: 10px 0;
}
/* Tout ce qui est lié au feed button 

		###	A COMMENTER EN DETAIL ###
*/
.fbtn {
    background: url("http://illiweb.com/fa/addthis/feed00.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    text-indent: -9000px;
    width: 102px;
}
.fbtn.bloglines {
    background-position: 0 0;
    height: 20px !important;
    line-height: 20px !important;
    margin-top: 8px !important;
    width: 94px;
}
.fbtn.yahoo {
    background-position: 0 -20px;
}
.fbtn.newsgator, .fbtn.newsgator-on {
    background-position: 0 -37px;
}
.fbtn.technorati {
    background-position: 0 -71px;
}
.fbtn.netvibes {
    background-position: 0 -88px;
}
.fbtn.pageflakes {
    background-position: 0 -141px;
}
.fbtn.feedreader {
    background-position: 0 -172px;
}
.fbtn.newsisfree {
    background-position: 0 -207px;
}
.fbtn.google {
    background-position: 0 -54px;
    width: 104px;
}
.fbtn.winlive {
    background-position: 0 -105px;
    height: 19px !important;
    line-height: 19px;
    margin-top: 9px !important;
    width: 100px;
}
.fbtn.mymsn {
    background-position: 0 -158px;
    height: 14px !important;
    line-height: 14px !important;
    margin-top: 12px !important;
    width: 71px;
}
.fbtn.aol {
    background-position: 0 -189px;
    height: 18px !important;
    line-height: 18px !important;
    width: 92px;
}
/* Fin des feed button */
#at16pp {
    color: #4C4C4C;
    font-size: 11px;
    position: absolute;
    right: 12px;
    top: 12px;
}
#at16pp label {
    font-size: 11px !important;
}
#at16ppc {
    padding: 10px;
    width: 179px;
}
#at16pph {
    padding: 5px 0 10px;
}
#at16pph select {
    margin: 5px 0 8px;
}
#at16pp .atinp {
    width: 156px;
}
html > body #at16pp .atinp {
    width: 176px;
}
#at16ppb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 274px;
}
#at16ep {
    height: 16px;
    padding: 8px;
}
#at16ep a {
    display: block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 8px;
    padding-left: 22px;
}
#at16ep a.at_gmail {
    background: url("http://illiweb.com/fa/addthis/gmail.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
#at16ep a.at_hotmail {
    background: url("http://illiweb.com/fa/addthis/hotmail.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
#at16ep a.at_yahoo {
    background: url("http://illiweb.com/fa/addthis/yahoo.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
#at16ppf p#atsb {
    font-size: 10px;
    padding-top: 20px;
}
#at16abr {
    margin-top: 10px;
}
#at16abr input {
    margin: 0 5px 0 0;
    padding: 0;
}
#at16ppso {
    display: none;
    margin-top: 2px;
    text-align: right;
}
#at16ppa {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 228px;
    overflow: auto;
    width: 178px;
}
#at16ppa a {
    display: block;
    font-size: 12px !important;
    padding: 4px 8px;
    white-space: nowrap;
}
#at16eatdr {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 0 none;
    left: 21px;
    max-height: 110px;
    overflow: auto;
    position: absolute;
    top: 129px;
    width: 277px;
    z-index: 500;
}
* html #at_email #at16eatdr {
    top: 115px !important;
    width: 272px !important;
}
:first-child + html #at_email #at16eatdr {
    top: 115px !important;
    width: 272px !important;
}
html > body #at_email form #at16eatdr.abif {
    top: 137px;
    width: 278px !important;
}
#at16eatdr a {
    border-bottom: 1px dotted #EEEEEE;
    display: block;
    overflow: hidden;
    padding: 4px 8px;
}
#at16eatdr a.hover, #at16eatdr a:hover {
    background: none repeat scroll 0 0 #E0EEFA;
    color: #333333;
    text-decoration: none;
}
#at_promo {
    display: none;
    font-size: 12px;
}
#at_promo button {
    background: none repeat scroll 0 0 #EE6A44;
    border-color: #FFA389 #D4522C #D4522C #FFA389;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
}
#at_promo .at-promo-content {
    margin-top: 12px;
}
#at_promo .at-promo-btn {
    padding-top: 10px;
}
#at_promo .at-promo-top {
    background: url("http://illiweb.com/fa/addthis/60x60_atn_logo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 0 5px 70px;
}
#at_promo h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 4px;
}
#at_promo h4 sup {
    color: #EE6A44;
    font-size: 11px;
}
#at_promo span {
    display: block;
}
#at_promo .at-promo-btm-ffx {
    background: url("http://illiweb.com/fa/addthis/60x60_at_firefox_toolbar.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 6px 0 0 70px;
}
#at_promo .at-promo-btm-ie {
    background: url("http://illiweb.com/fa/addthis/60x60_at_ie_toolbar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 6px 0 0 70px;
}
#left table.module-advert {
    border: 0 none;
    border-collapse: collapse;
}
#left table.module-advert table {
    border-collapse: collapse;
    table-layout: fixed;
}
#forum_rules table {
    border-collapse: separate;
    border-spacing: 5px;
    table-layout: fixed;
    width: 100%;
}
#forum_rules .logo {
    overflow: hidden;
    vertical-align: top;
    width: 100px;
}
#forum_rules .logo img {
    max-width: 100px;
}
div div div.gen strong a {
    font-weight: 400;
}
.postdetails.poster-profile span.label {
    white-space: nowrap;
}
.hiddenMsgTitle {
    font-size: 0.9em;
}
.hiddenMsgBody {
    display: none;
    padding-top: 2em;
}
#sceditor_smilies body {
    margin: 5px;
}
#sceditor_smilies #smilies_header {
    background-color: #F6EFC7;
    background-image: url("http://illiweb.com/fa/empty.gif");
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 700;
    height: 25px;
    padding: 2px 3px;
    text-align: center;
}
#sceditor_smilies table {
    width: 100%;
}
@media print {
/* De nouveau un morceau qui agit sur tout le body */
body {
    background-color: #FFFFFF;
    background-image: none;
    color: #000000;
}
table.bodylinewidth span.maintitle {
    display: block;
    text-align: left;
}
#info_open, .browse-arrows, .messaging, .noprint, .post-options, .poster-profile, img.i_icon_online, span.postdetails img, table.bodylinewidth .catbottom, table.bodylinewidth .gensmall, table.bodylinewidth .mainmenu, table.bodylinewidth .nav, table.bodylinewidth .sig, table.bodylinewidth img#i_logo {
    display: none;
}
.t-title, td.catHead {
    text-align: left;
}
table.bodylinewidth .cattitle {
    font-size: 1em;
    letter-spacing: normal;
}
.thLeft, .thRight {
    border: medium none;
    color: #000000;
    text-align: left;
}
.hr hr {
    visibility: hidden;
}
.hr {
    border-top: 1px dotted #DDDDDD !important;
}
tr.post td {
    border-bottom: 1px solid #CCCCCC;
    vertical-align: top;
}
tr.post td td {
    border: medium none;
}
span.gen {
    display: none;
}
}
/* Agit sur les liens */
a {
    font-family: 'Overlock SC',cursive;
    font-size: 12px;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
/* Agit sur les liens au survol */
a:hover {
    text-decoration: none !important;
    transition: all 0.3s ease 0s;
}
/* Agit sur toute la page */
body {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat-x;
    margin-left: -10px;
}
#i_logo {
    margin-bottom: -95px;
}
.bodyline {
    border-bottom: 10px solid #F6EFC7;
    border-top: 18px solid #F6EFC7;
    box-shadow: 0 0 3px #F6EFC0;
}
input, select, textarea {
    background: none repeat scroll 0 0 #FDFCF1;
    border: 1px solid #F3ECC1;
    color: #9E9178 !important;
    font-size: 11px !important;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
}
#text_editor_iframe, input.post, select, textarea.inputbox, textarea.post {
    background: none repeat scroll 0 0 #FDFCF1;
    border: 1px solid #F3ECC1;
    color: #9E9178 !important;
    font-size: 11px !important;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #EEE3A2;
    color: #FAF6DF;
    text-shadow: none;
}
.quote {
    background: none repeat scroll 0 0 #FEFCEE;
    border: 3px solid #F9F5DD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px #F6EFC7;
    color: #AFA289;
    font-size: 11px;
    padding: 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    transition: all 0.3s ease 0s;
}
.quote:hover {
    border: 3px solid #F6EFC7;
    transition: all 0.3s ease 0s;
}
.spoiler {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.spoiler_closed {
    background: none repeat scroll 0 0 #FEFCEE;
    border: 1px solid #F9F5DD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px #F6EFC7;
    transition: all 0.3s ease 0s;
}
.spoiler_content {
    background: none repeat scroll 0 0 #FEFCEE;
    border: 3px solid #F9F5DD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px #F6EFC7;
    color: #AFA289;
    font-size: 11px;
    padding: 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    transition: all 0.3s ease 0s;
}
.spoiler_content:hover {
    border: 3px solid #F6EFC7;
    transition: all 0.3s ease 0s;
}
.spoiler_closed:hover {
    border: 1px solid #F6EFC7;
    transition: all 0.3s ease 0s;
}
.code div.cont_code {
    background: none repeat scroll 0 0 #FEFCEE;
    border: 3px solid #F9F5DD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px #F6EFC7;
    color: #AFA289;
    font-size: 11px;
    padding: 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    transition: all 0.3s ease 0s;
}
.code div.cont_code:hover {
    border: 3px solid #F6EFC7;
    transition: all 0.3s ease 0s;
}
.code {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.titrecat {
    background: url("http://image.noelshack.com/fichiers/2013/25/1371830815-titre-cat.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 53px;
    margin-bottom: 4px;
    margin-left: 3px;
    padding-right: 19px;
    padding-top: 45px;
    text-align: right;
    width: 710px;
}
.secondarytitle {
    font-family: times new roman;
    font-size: 12px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0 #F0E58E;
}
.forumlinkdiv {
    background: none repeat scroll 0 0 #F6EFC7;
    font-family: times new roman !important;
    font-size: 12px;
    margin-left: -99px;
    padding: 2px 2px 2px 10px;
    position: relative;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
    width: 718px;
}
.forumlink a {
    color: #FFFFFF !important;
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.forumlink a:hover {
    letter-spacing: 2px;
    transition: all 0.5s ease 0s;
}
.sfcat {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    color: #B3EFB6;
    font-family: 'Overlock SC',cursive;
    font-size: 11px;
    height: 54px;
    line-height: 12px;
    margin: 25px 2px 2px;
    overflow-y: auto;
    padding: 3px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    width: 85px;
}
.sfcat a {
    font-size: 11px !important;
    font-weight: lighter;
}
.statscat {
    color: #B3EFB6;
    font-family: 'Overlock SC',cursive;
    font-size: 14px;
    font-weight: lighter !important;
    letter-spacing: -1px;
    padding: 5px;
    text-align: right;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
}
.forumline {
    border: medium none;
}
.desccat {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    font-size: 10px;
    height: 60px;
    line-height: 10px;
    margin-top: 3px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 504px;
}
.lastpost {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    font-size: 9px;
    height: 35px;
    letter-spacing: -1px;
    line-height: 12px;
    margin-left: -120px;
    margin-top: 25px;
    padding: 5px 1px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
    width: 110px;
}
.lastpost a {
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
}
.imgcat {
    margin-left: -120px;
    margin-top: 2px;
}
.idesc {
    border: 2px solid #F6EFC7;
    opacity: 0.8;
}
.scrolldesc {
    height: 50px;
    margin: 2px;
    padding-right: 3px;
}
.tdesc {
    color: #93EED5;
    font-family: 'Oleo Script Swash Caps',cursive;
    font-size: 16px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
}
.scrolldesc2 {
    height: 50px;
    margin: 3px;
    overflow: auto;
    padding-left: 3px;
    padding-right: 3px;
}
/* Agit sur la barre de navigation principale */
.navbar {
    font-family: times new roman;
    font-size: 12px;
    margin-top: -27px;
    text-shadow: 1px 1px 0 #FAF8E1;
    text-transform: uppercase;
}
/* Agit sur les liens de la barre de navigation principale */
.navbar a {
    color: #A5E1A7 !important;
    transition: all 0.5s ease 0s;
}
/* Agit sur les liens de la barre de navigation principale au survol */
.navbar a:hover {
    color: #ECE78D !important;
    transition: all 0.5s ease 0s;
}
.monBloc {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    height: 46px;
    margin: 4px 4px 4px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 60px;
}
.blocVolet {
    background: none repeat scroll 0 0 #008000;
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s linear 0s;
    width: 60px;
    z-index: 99;
}
.monBloc:hover > .blocVolet {
    left: -60px;
}
.monBloc2 {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    height: 110px;
    margin: 5px 2px 2px -32px;
    overflow: hidden;
    position: relative;
    width: 125px;
}
.blocVolet2 {
    background: none repeat scroll 0 0 #008000;
    height: 110px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s linear 0s;
    width: 125px;
    z-index: 99;
}
.monBloc2:hover > .blocVolet2 {
    left: -125px;
}
.infobulleparto {
    display: inline-block;
    opacity: 0.5;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 99;
}
.infobulleparto:hover {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 99;
}
.infobulleparto > div {
    opacity: 0;
    position: absolute;
    transform: scale(0.3) rotate(-45deg);
    transition: all 0.3s linear 0s;
    visibility: hidden;
    z-index: 99;
}
.infobulleparto:hover > div {
    opacity: 1;
    position: absolute;
    transform: scale(1) rotate(0deg);
    visibility: visible;
    z-index: 99;
}
.parto {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    color: #AEECB0;
    font-family: 'Overlock SC',cursive;
    font-size: 14px;
    margin: auto;
    padding: 5px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    z-index: 99;
}
.ptitle1 {
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 14px;
    margin-bottom: -17px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
}
.pbloc1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-right: 3px solid #F6EFC7;
    border-style: solid;
    border-width: 15px 3px 3px;
    font-size: 10px;
    height: 120px;
    line-height: 11px;
    overflow: auto;
    padding: 3px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 220px;
}
.edited {
    color: #AEECB0;
    font-family: 'Overlock SC',cursive;
    font-size: 15px;
    letter-spacing: -1px;
    margin-bottom: -4px;
    margin-left: 5px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
}
.psbloc1 {
    background: none repeat scroll 0 0 #F6F3DC;
    padding: 6px 3px 3px;
}
.ptitle2 {
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 14px;
    margin-bottom: -17px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
}
.pbloc2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-right: 3px solid #F6EFC7;
    border-style: solid;
    border-width: 15px 3px 3px;
    font-size: 10px;
    height: 44px;
    line-height: 11px;
    overflow: auto;
    padding: 3px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 220px;
}
.ptitle3 {
    color: #B3EFB6;
    font-family: 'Oleo Script Swash Caps',cursive;
    font-size: 35px;
    font-style: italic;
    letter-spacing: -1px;
    margin-bottom: -22px;
    margin-top: -27px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.pbloc3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-right: 3px solid #F6EFC7;
    border-style: solid;
    border-width: 12px 3px 3px;
    font-size: 10px;
    line-height: 11px;
    padding: 10px 12px 12px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 250px;
}
.ajust1 {
    margin-top: 6px;
}
.btnpa {
    background: none repeat scroll 0 0 #F6EFC7;
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 10px;
    height: 14px;
    letter-spacing: 1px;
    margin: 1px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    width: 99px;
}
.btnpa:hover {
    background: none repeat scroll 0 0 #F9F7E4;
    color: #AEECB0;
    text-shadow: 1px 1px 0 #FFFFFF;
    transition: all 0.5s ease 0s;
}
.staffpseudo {
    color: #AEECB0;
    font-family: 'Overlock SC',cursive;
    font-size: 15px;
    letter-spacing: -1px;
    margin-bottom: -4px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
}
.staffstatut {
    color: #AEECB0;
    font-family: 'Overlock SC',cursive;
    font-size: 14px;
    letter-spacing: -1px;
    margin-top: -2px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
}
.ajust2 {
    margin-left: -4px;
}
.starmonth {
    color: #AEECB0;
    font-family: 'Overlock SC',cursive;
    font-size: 15px;
    letter-spacing: -1px;
    margin-bottom: -4px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
}
.txtstarmonth {
    font-size: 9px;
    height: 90px;
    line-height: 9px;
    margin: 2px;
    overflow: auto;
    padding-right: 2px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.ajust3 {
    margin-left: -32px;
}
.ptitle4 {
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 10px;
    margin-bottom: -12px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
}
.pbloc4 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-right: 3px solid #F6EFC7;
    border-style: solid;
    border-width: 10px 3px 3px;
    font-size: 9px;
    height: 30px;
    line-height: 11px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 125px;
}
.star {
    margin-left: -22px;
    position: absolute;
    transform: rotate(25deg);
    z-index: 99;
}
.credits {
    font-family: 'Overlock SC',cursive;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: -8px;
    opacity: 0.5;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
}
.qtitle1 {
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 14px;
    margin-top: -16px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
}
.qbloc1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-style: solid;
    border-width: 3px 3px 15px;
    font-size: 10px;
    height: 149px;
    line-height: 11px;
    overflow: auto;
    padding: 3px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 220px;
}
.qbloc2 {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    font-size: 10px;
    height: 70px;
    line-height: 11px;
    margin-bottom: 3px;
    overflow: auto;
    padding: 2px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 222px;
}
.qtitle3 {
    color: #B3EFB6;
    font-family: 'Oleo Script Swash Caps',cursive;
    font-size: 35px;
    font-style: italic;
    letter-spacing: -1px;
    margin-bottom: -22px;
    margin-left: 60px;
    margin-top: -31px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.qbloc3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-left: 3px solid #F6EFC7;
    border-right: 3px solid #F6EFC7;
    border-style: solid;
    border-width: 12px 3px;
    font-size: 10px;
    height: 213px;
    line-height: 11px;
    margin-left: 1px;
    margin-top: -4px;
    padding: 10px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 240px;
}
.qbloc3 a {
    font-size: 10px;
    letter-spacing: 1px;
}
.qbloc4 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F9F7E4;
    border-color: #F6EFC7;
    border-image: none;
    border-left: 3px solid #F6EFC7;
    border-right: 3px solid #F6EFC7;
    border-style: solid;
    border-width: 12px 3px;
    font-size: 10px;
    height: 219px;
    line-height: 11px;
    margin-left: 1px;
    margin-top: -3px;
    overflow: auto;
    padding: 10px 4px 4px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 215px;
}
.qbloc4 a {
    font-size: 10px;
    letter-spacing: 1px;
}
.qgrp {
    margin-left: -2px;
    margin-top: 8px;
}
.qlink {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    padding: 5px;
    text-align: center;
    width: 715px;
}
.footerqeel {
    margin-bottom: -70px;
    margin-left: 1px;
    margin-top: 3px;
}
.footerqeel a:hover {
    text-shadow: 1px 1px 0 #FFFFFF;
}
.cattitle {
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 14px;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
}
.pseudo {
    background: none repeat scroll 0 0 #F6EFC7;
    letter-spacing: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 2px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.profilfield {
    background: none repeat scroll 0 0 #F9F7E4;
    color: #CFC3AD;
    font-family: calibri;
    font-size: 11px;
    margin: -5px 2px;
    padding: 4px;
    text-transform: uppercase;
    white-space: pre-wrap;
}
.profilfield2 {
    background: none repeat scroll 0 0 #F9F7E4;
    margin: -5px 2px 9px;
    padding: 4px;
    text-align: center;
    white-space: pre-wrap;
}
.postbody {
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    text-align: justify;
}
.nav img {
    display: none;
}
#englob {
    border: 4px solid #F6EFC7;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.imgp {
    background: none repeat scroll 0 0 #F6EFC7;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 1;
}
#englob:hover > .imgp {
    margin-top: 320px;
}
.infosp {
    background: none repeat scroll 0 0 #F6EFC7;
    height: 100%;
    left: 0;
    margin-left: -200px;
    opacity: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 0;
}
#englob:hover > .infosp {
    margin-left: 0;
    opacity: 1;
}
.fadmin {
    background: none repeat scroll 0 0 #FEFCEE;
    border: 1px solid #F6EFC7;
    padding-bottom: 2px;
}
.tadmin {
    background: none repeat scroll 0 0 #F6EFC7;
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 20px;
    padding: 3px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
}
.madmin {
    margin: 0 16px 16px;
    text-align: justify;
    text-shadow: 1px 1px 0 #FCFAF1;
}
.st {
    color: #93EED5;
    font-family: 'Oleo Script Swash Caps',cursive;
    font-size: 16px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
}
.st2 {
    color: #B3EFB6;
    font-family: 'Overlock SC',cursive;
    font-size: 14px;
    font-weight: lighter !important;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
}
#chatbox_header .cattitle strong {
    color: #FFFFFF !important;
    visibility: hidden;
}
#chatbox_header a {
    font-family: times new roman;
    font-size: 12px;
    text-transform: uppercase;
}
#chatbox_header .cattitle:before {
    content: "Viens prendre le thé avec nous !";
}
#chatbox_members a {
    font-family: times new roman;
    font-size: 11px;
    text-transform: uppercase;
}
#chatbox_members {
    border-right: 1px solid #F4EDC3;
}
.Titrefiche {
    color: #93EED5;
    font-family: 'Oleo Script Swash Caps',cursive;
    font-size: 20px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
    z-index: 25;
}
.redimensions {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    height: 250px;
    margin-bottom: -110px;
    margin-top: -10px;
    padding: 3px;
    position: relative;
    width: 500px;
    z-index: 10;
}
.BOX1 {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    height: 170px;
    margin-bottom: -70px;
    overflow: auto;
    padding: 3px;
    text-align: justify;
    width: 250px;
}
.Soustitreuh1 {
    background-color: #F6EFC7;
    color: #FFFFFF;
    font-family: times new roman;
    font-size: 14px;
    height: 17px;
    margin-bottom: -15px;
    text-align: center;
    text-shadow: 1px 1px 0 #F0E58E;
    text-transform: uppercase;
    width: 100%;
}
.BOX2 {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    height: 170px;
    margin-bottom: -70px;
    overflow: auto;
    padding: 3px;
    text-align: left;
    width: 235px;
}
.Couleur1 {
    color: #F10040;
    text-transform: uppercase;
}
.Couleur2 {
    color: #00ACF1;
    text-transform: uppercase;
}
.Couleur3 {
    color: #40D0D0;
    text-transform: uppercase;
}
.Couleur4 {
    color: #92F14B;
    text-transform: uppercase;
}
.Couleur5 {
    color: #F17D4B;
    text-transform: uppercase;
}
.Couleur6 {
    color: #EED414;
    text-transform: uppercase;
}
.Couleur7 {
    color: #C27118;
    text-transform: uppercase;
}
.Couleur8 {
    color: #EC9495;
    text-transform: uppercase;
}
.BOX3 {
    background: none repeat scroll 0 0 #F9F7E4;
    border: 3px solid #F6EFC7;
    height: 170px;
    overflow: auto;
    padding: 3px;
    text-align: justify;
    width: 500px;
}
.credits2 {
    font-family: 'Overlock SC',cursive;
    font-size: 10px;
    letter-spacing: 1px;
    opacity: 0.5;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: lowercase;
}
.cadre {
    background-color: #FFFFFF;
    border: 1px solid #F6EFC7;
    padding: 2px;
}
.fade {
    background: -moz-linear-gradient(left center , #FAFAFA 0%, rgba(250, 250, 250, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
}
.blur {
    color: #DDDDDD;
    display: inline-block;
    text-shadow: 0 0 6px #AAAAAA;
}
.flipH {
    display: inline-block;
    transform: scale(-1, 1);
}
.flipV {
    display: inline-block;
    transform: scale(1, -1);
}
